.scheduleLink {
  padding: 18px 33px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--violet-1);
  border: 1px solid var(--violet-03);
  border-radius: 5px;
  transition: all 0.3s;

  @media (max-width: 568px) {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--white-1);
      background-color: var(--blue-1);
    }
  }
}
