:root {

  --color-blue-1: rgba(18, 104, 147);
  --color-blue-button: rgba(18, 104, 147);


  --color-white-1: rgb(255, 255, 255, 1);
  --color-white-02: rgb(255, 255, 255, 0.2);
  --color-white-03: rgb(255, 255, 255, 0.3);
}